.content {
  width: 24vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 6px #0000001a;
    border: 1px solid var(--third-gray);
    border-radius: 6px;
    opacity: 1;

    #form-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 3vh;

      p:first-child {
        font-size: 22px;
        font-weight: bold;
        color: var(--light-blue);
      }

      p {
        margin: 0;
      }
    }

    label {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 1vh 0;

      input {
        width: 18vw;
        height: 6vh;
        border: 1px solid var(--second-gray);
        border-radius: 4px;
        opacity: 1;
        font-family: inherit;
        font-weight: 400;
      }
    }

    .button-content {
      margin: 2vh 0 8vh 0;
      .form-button {
        width: 18vw;
        height: 6vh;
        display: flex;
        align-items: center;
        text-align: center;
        align-content: center;

        background: var(--light-blue) 0% 0% no-repeat padding-box;
        border-radius: 4px;
        opacity: 1;

        cursor: pointer;

        p {
          margin: auto;
          color: var(--white);
          font-weight: bold;
        }
      }
    }
  }

  p {
    text-align: center;
  }
}
