#container {
  width: 100vw;
  height: 95vh;
  display: flex;
  justify-content: flex-start;

  #right-content {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    header {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-top: 1vh;

      .create-account-message {
        color: var(--dark-gray);
      }

      .create-account-button {
        display: flex;
        flex-direction: row;
        background: var(--dark-blue) 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px var(--third-gray);
        border-radius: 4px;
        opacity: 1;

        width: 6.5vw;
        height: 4.5vh;
        margin: auto 2vh;

        cursor: pointer;

        img {
          margin: auto;
          align-items: center;
        }
        p {
          margin: auto;
          color: var(--white);
        }
      }
    }
  }
}

.panel {
  width: 30%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: no-repeat;
  background-image: url("../../assets/Login/Group 13258.png");
  align-items: center;
  align-content: center;
  text-align: center;
  float: left;
}

.panel-content {
  margin-top: 14vh;
}

.calendar {
  align-items: center;
  align-content: center;
  margin-top: 12vh;
}

.title {
  text-align: center;
  font-size: 175%;
  font-weight: bold;
  color: var(--white);
}

.p1 {
  text-align: center;
  color: var(--white);
}

.p2 {
  text-align: center;
  color: var(--text-gray);
}

footer {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50%;
}

@media (max-width: 1080px) {
  .title {
    font-size: 150%;
  }
  .create-account {
    width: 20%;
  }
  footer {
    display: flex;
    flex-direction: column;
  }
}
