body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: var(--dark-gray);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --white: #ffffff;
  --dark-gray: #4a4a4a;
  --dark-blue: #1e293b;
  --light-blue: #00b3f3;
  --text-gray: #d2d2d2;
  --second-gray: #b4b4b4;
  --third-gray: #e3e3e3;
}

// TODO: BREAKPOINTS DE FONT-SIZE E IMAGENS
/* @media (max-width: 1720px) {
  html {
    font-size: 93.25%;
  }
}

@media (max-width: 1080px) {
  html {
    font-size: 93.25%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 93.25%;
  }
} */
